<li class="project">
	<h2 class="title">{{{title}}}</h2>
	<a class="image" href="images/{{image}}"><img class="thumb" src="images/{{thumb}}"></a>
	<div class="info">
		<span class="date">{{date}}</span>
		<span class="desc">{{desc}}</span>
	</div>
</li>
