@import "./vendor/bootstrap/less/bootstrap.less";

@grid-gutter-width: 20px;

main {
}

#home {
	main {
		max-width: 600px;
	}

	h1 {
		font-size: 40px;
		border-bottom: 1px solid;
		margin: 0.5em 0 0.5em 0;
		padding: 0 0 0.1em 0;
	}

	h1 a {
		color: #333;
		text-decoration: none;
	}

	@media (min-height: 1000px) {
		main {
			margin-top: 200px;
		}
	}
}
