<!doctype html>
<html lang="en" class="{{name}}">
	<head>
		<title>Parsha Pourkhomami</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<style type="text/css" media="screen">{{{style}}}</style>
	</head>
	<body>
		<main id="main" class="container">{{{content}}}</main>
{{#script}}<script type="text/javascript">{{{script}}}</script>{{/script}}
	</body>
</html>
