<!doctype html>
<html lang="en" class="intro">
	<head>
		<title>Parsha Pourkhomami</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/style.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<header id="header">
			<h1 class="container"><a href="/">Parsha Pourkhomami</a></h1>
		</header>
		<main>{{{content}}}</main>

		<script type="text/javascript" src="/script.js"></script>
	</body>
</html>
