<header id="intro">
	<canvas id=photo width=400 height=500 style="display:none"></canvas>
	<div class="main">
		<h1 class="heading"><span class="text-wrapper">Parsha Pourkhomami</span></h1>

		<p><span class="text-wrapper">

I am a Computer Scientist born in Iran, raised in Connecticut, and living in
California.

I have been programming computers since my <em>Commodore 64</em> at age four.

I have a passion for modeling large systems simply and creating great user
experiences.

<!--

I am interested in many aspects of computer science, but particularly in
distributed systems, AI, cryptography, and networking.

I have worked on a variety of projects ranging from command-line utilities and
web applications to networked 3D games.

-->

When not hacking on my latest project, I enjoy traveling, tennis, and
skiing.

I am always looking for new opportunities to apply my skills and
experiences to grow my abilities and interests.

		</span></p>
	</div>
</header>
