<header id="intro">
	<canvas id=photo width=400 height=500 style="display:none"></canvas>
	<div class="main">
		<h1 class="heading"><span class="text-wrapper">Parsha Pourkhomami</span></h1>

		<p><span class="text-wrapper">

I am a Computer Scientist born in Iran, raised in Connecticut, and living in
California.

I have been programming computers since my <em>Commodore 64</em> at age four.

I have a passion for modeling large systems
<a href="http://www.infoq.com/presentations/Simple-Made-Easy">simply</a>
and creating great user experiences.

When not hacking on my latest project, I enjoy traveling, tennis, and
skiing.

I am always looking for new opportunities to apply my skills and gain new experiences.

		</span></p>
	</div>
</header>
