<li class="project">
	<h2 class="title main">{{{title}}}</h2>

	<a class="image" href="images/{{image}}">
		<img class="thumb" src="images/{{thumb}}" width=420 height=280 />
		<div class="zoom-icon"></div>
	</a>

	<div class="main">
		<div class="head">
			<div class="subtitle">{{subtitle}}</div>
			<div class="date">{{date}}</div>
		</div>
		<div class="body"></div>
	</div>
</li>
