<!doctype html>
<html>
	<head>
		<title>Parsha Pourkhomami</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<link rel="canonical" href="http://parshap.com/me/">
		<style type="text/css" media="screen">{{{style}}}</style>
	</head>
	<body>
		<div id="bg"></div>
		{{{body}}}
		<script type="text/javascript">{{{script}}}</script>
	</body>
</html>
