<!doctype html>
<html>
	<head>
		<title>Parsha Pourkhomami</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{{{favicon}}}" type="image/x-icon">
		<link rel="canonical" href="http://parshap.com/me/">
		<style type="text/css">{{{style}}}</style>
	</head>
	<body>
		<div id="bodybg"></div>
		{{{body}}}
		<script>{{{script}}}</script>
		<script>{{{ga}}}</script>
	</body>
</html>
